.Sidebar {
  min-width: 465px;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 1439px) {
  .Sidebar {
    min-width: 329px;
  }
}

@media screen and (max-width: 375px) {
  .Sidebar {
    min-width: 100vw;
    height: 100vh;
  }
}