*, p, button, h1, h2, h3, h4, h5, h6, form {
    margin: 0;
    padding: 0;
}

:root {
  --main-color-text: #48484A;
  --second-color-text: #ACACAC;

  --main-color-text-black: #E6E6E6;
  --second-color-text-black: #ACACAC;
  /* --main-color-text: green; */
}

body {
  /* dark: #100E1C */
  background-color: #E5E5E5;
}

body, button, p {
  color: var(--main-color-text);
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.content {
  display: grid;
  grid-template-columns: 37% 63%;
  grid-template-rows: 272px 492px;
  /* column-gap: 73px; */
}

@media screen and (max-width: 1439px) {
  .content {
    min-width: 837px;
    grid-template-columns: 40% 60%;
    grid-template-rows: 272px 900px;
  }
}

@media screen and (max-width: 375px) {
  .content {
    min-width: initial;
    grid-template-columns: 1fr;
    grid-template-rows: none;
}
}