.sidebar {
  min-width: 465px;
  grid-row-start: 1;
  grid-row-end: 3;
}
.currentDay {
  box-sizing: border-box;
  display: grid;
  padding: 42px;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  background-color: white;
  background-image: url(../image/backgroundCurrentDay.png);
  background-blend-mode: difference;
  background-position: center 80px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.searchPanel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 26px 50px;
  row-gap: 46px;
  box-sizing: border-box;
  position: relative;
  background-color: #FFFFFF;
  left: -100%;
  top: -100%;
  height: 100%;
  padding: 46px;

  transition: left .5s;
}

.searchPanel .btnClose {
  width: 26px;
  height: 26px;
  justify-self: right;
  padding: 0;
  border: none;
  background-color: transparent;
}

.searchPanel .formSearch {
  justify-self: center;
}

.searchPanel input {
  background: #FFFFFF;
  border: 2px solid #ACACAC;
  box-sizing: border-box;
  border-radius: 10px;
  height: 50px;
}

.searchPanel .inputSearch {
  width: 250px;
  padding-left: 44px;
  background-image: url('../image/magnifier.png');
  background-repeat: no-repeat;
  background-position: 17px center;
}

.searchPanel .inputButton {
  width: 97px;
  margin-left: 22px;
}

.searchCity {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  align-self: center;
  width: 180px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #ACACAC;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}

#btnTheme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  justify-self: right;
  align-content: center;
  width: 64px;
  height: 32px;
  background: #FFFFFF;
  border: 2px solid #ACACAC;
  box-sizing: border-box;
  border-radius: 20px;
}

#btnTheme div {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-self: center;
  width: 20px;
  height: 20px;
  background: #48484A;
  border-radius: 89px;
}

.currentImgWeather {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  justify-self: center;
}

.temperature {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  justify-self: center;
}

.degree {
  font-weight: 900;
  font-size: 96px;
}

.celsius {
  font-weight: 500;
  font-size: 50px;
}

.currentWeather {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  justify-self: center;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.feelingWeather {
  color: var(--second-color-text);
  margin-bottom: 78px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  justify-self: center;
  font-size: 18px;
}

.week {
  color: var(--second-color-text);
  grid-row-start: 6;
  justify-self: center;
  font-size: 18px;
}

.date {
  color: var(--second-color-text);
  grid-row-start: 6;
  justify-self: center;
  font-size: 18px;
}

.address {
  margin-top: 29px;
  grid-row-start: 7;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: center;
  display: flex;
  align-items: center;
}

.vector {
  margin-right: 8px;
}

.nameCity {
  color: var(--second-color-text);
  font-size: 18px;
}

@media screen and (max-width: 1439px) {
  .sidebar {
    min-width: 329px;
  }

  .currentDay {
    padding: 20px;
  }

  .searchPanel {
    row-gap: 37px;
    padding: 27px;
  }

  .searchPanel .formSearch {
    display: grid;
    justify-items: center;
  }

  .searchPanel input {
    margin-top: 20px;
  }

  .searchPanel .inputSearch {
    width: 275px;
  }

  .searchPanel .inputButton {
    margin-left: 0;
  }

}

@media screen and (max-width: 375px) {
  .sidebar {
    min-width: 100vw;
    height: 100vh;
  }
}