.weatherForecast {
  justify-self: center;
}

.titleWeatherForecast {
  margin-top: 42px;
  margin-left: 60px;
  margin-bottom: 25px;
}

.titleWeatherForecast p {
  display: inline;
  margin-right: 16px;
  font-weight: 700;
}

.weatherForecast button {
  margin: 0 8px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-weight: 700;
}

.contentWeatherForecast {
  display: flex;
}

.contentWeatherForecast div {
  display: flex;
}

.contentWeatherForecast .card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100px;
  height: 143px;
  padding: 15px;
  background: #FFFFFF;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.05);
  border-radius: 8.36158px;
}

.contentWeatherForecast .card .cardT {
  justify-content: center;
  align-self: flex-start;
  grid-column-start: 1;
  grid-column-end: 3;
}

.contentWeatherForecast .card .cardLB {
  justify-content: center;
  align-self: flex-end;
}

.contentWeatherForecast .card .cardRB {
  justify-content: center;
  align-self: flex-end;
}

#btnLeft {

}

#btnRight {

}

#card_1 {
  background-image: url('../image/imgWeather_1.png');
}
#card_2, #card_3 {
  background-image: url('../image/imgWeather_2.png');
}

#card_4, #card_5, #card_6, #card_7 {
  background-image: url('../image/imgWeather_3.png');
}

#card_7 {
  display: none;
}

@media screen and (max-width: 1439px) {
  .titleWeatherForecast {
    margin-top: 61px;
  }

  #card_4, #card_5, #card_6, #card_7 {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .sidebar {
    min-width: 100vw;
    height: 100vh;
  }

  .titleWeatherForecast {
    margin-top: 50px;
    margin-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .titleWeatherForecast p {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    font-size: 24px;
  }

  .titleWeatherForecast button {
    font-size: 20px;
    margin: 0 auto;
  }

  #btnLeft, #btnRight {
    display: none;
  }

  .contentWeatherForecast div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contentWeatherForecast .card {
    margin: 15px 27px;
  }

  #card_4, #card_5, #card_6, #card_7 {
    display: grid;
  }
}